@import './fonts.css';
@import './editor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --primary-green: #28c196;
  --primary-foreground: #ffffff;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-saira: 'Saira', sans-serif;
  --font-mona-sans: 'Mona Sans', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), Arial, sans-serif;
}
